In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"C:\Users\USER\Downloads\files_in_pandas\Customer Call List.xlsx")
df.head(5)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [5]:
#removing details of people who said we should not contact then, and those with missing values
# updating the

In [6]:
df['Do_Not_Contact'] = df["Do_Not_Contact"].str.replace('No','N')

In [ ]:
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace("Yes","Y")

In [ ]:
df.drop(columns='Not_Useful_Column', inplace=True)

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df

In [ ]:
df['Address']=df['Address'].str.replace('N/a',' ')
df['Phone_Number']=df['Phone_Number'].str.replace('N/a',' ')
df['Paying Customer']=df['Paying Customer'].str.replace('N/a',' ')

In [ ]:
df

In [ ]:
df.dropna(axis=0)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

In [ ]:
df.drop(index=18, inplace=True)

In [ ]:
df

In [ ]:
df['Paying Customer']=df['Paying Customer'].str.replace('No','N')
df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')

In [ ]:
df['Paying Customer']=df['Paying Customer'].str.replace('N','No')
df['Paying Customer']=df['Paying Customer'].str.replace('Y','Yes')

In [ ]:
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('N','No')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Y','Yes')

In [ ]:
df

In [ ]:
df["Phone_Number"].str.replace('-', '')
df["Phone_Number"].str.replace('/', '')
df["Phone_Number"].str.replace('+', '')
df["Phone_Number"].str.replace('|', '')
df["Phone_Number"].str.replace('|', '')
df["Phone_Number"].str.replace(',', '')

In [ ]:
df

In [ ]:
df['Last_Name']=df['Last_Name'].str.strip(',1-9._/')
df.head(5)

In [ ]:
df['Phone_Number'].str.replace('''[^a-zA-Z0-9]''', '')

In [ ]:
df[['a','b','c']]=df['Address'].str.split(',' , expand=True)

In [ ]:
for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Yes':
        df.drop(x, inplace=True)
df

In [ ]:
df.reset_index(drop='index')

In [ ]:
df.fillna('')

In [ ]:
df['Street_Name']=df['a']
df['City_Name']=df['b']
df['State']=df['c']

In [ ]:
df.drop(columns=['a','b','c','Address'], inplace=True)

In [ ]:
df.fillna('', inplace=True)

In [ ]:
df

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('-','')

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('/','')

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('-','')

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('|','')

In [ ]:
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10] )

In [ ]:
df.reset_index(drop='index')

In [ ]:
df.groupby('Phone_Number').nunique()